#content-wrapper {
	overflow-x: hidden;
	display: table-cell;
}

#top-bar {
	position: fixed;
	padding: 15px;
	background: radial-gradient(rgba(255,255,255,0.95) 40%,rgba(255,255,255,0));
}

#menu {
	width: 30px;
	cursor: pointer;
	vertical-align: middle;
}

#content {
	min-width: 380px;
	max-width: 900px;
	margin: auto;
	padding: 15px;
	margin-top: 40px;
}

#content > * {
	margin-bottom: 10px;
}

#content > *:last-child {
	margin-bottom: 0px;
}
