#content-wrapper {
	overflow-x: hidden;
	display: table-cell;
	position: relative;
	background: #fff;
	z-index: 1;
}

#top-bar {
	position: fixed;
	padding: 12px;
	background: rgba(255,255,255, 0.8);
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

#menu {
	width: 20px;
	vertical-align: middle;
}

#content {
	min-width: 380px;
	max-width: 900px;
	margin: auto;
	padding: 20px;
	margin-top: 40px;
	font-size: 20px;
}

#content > * {
	margin-bottom: 20px;
}

#content > *:last-child {
	margin-bottom: 0px;
}

article > * {
	margin-bottom: 20px;
}

article > *:last-child {
	margin-bottom: 0px;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5 {
	display: block;
	border-bottom: 1px solid #bbb;
	padding-bottom: 10px;
}

#content h1 {
	font-size: 40px;
}

#content h2 {
	font-size: 30px;
}

#content h3 {
	font-size: 20px;
}

@media (max-width: 640px) {
	#top-bar{
		right: 0px;
		border-right: none;
		border-left: 1px solid #ccc;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 0px;
	}

	#content {
		font-size: 17px;
	}
}