#sidebar {
	color: #fff;
	width: 200px;
	display: table-cell;
	transition: width 300ms ease;
	vertical-align: top;
	overflow: hidden;
	background: #222;
}

#sidebar-content {
	position: fixed;
	overflow: hidden;
	width: inherit;
	height: 100%;
	width: inherit;
	background: #222;
}


#sidebar-wrapper {
	width: 200px;
}

#sidebar-wrapper > * {
	margin-top: 15px;
	width: inherit;
	display: block;
}

#shadow {
	position: fixed;
	width: inherit;
	height: 100%;
	box-shadow: inset 0px 0px 15px #000;
	pointer-events: none;
}

#title {
	text-align: center;
}

#footer {
	position: absolute;
	bottom: 0px;
}

#gibsdev {
	margin-bottom: 15px;
}

#sidebar-wrapper > .sidebar-link {
	margin-top: 0px;
	padding: 10px 0px;
	padding-right: 15px;
	text-align: right;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

#footer {
	padding: 15px;
	text-align: center;
}